
.about{
    position: relative;
    background-color: #1c0522;
    margin: 0;
    padding: 100px;
}
.about h1{
    color: whitesmoke;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 20;
}
#special-word{
    font-style: italic;
}
.about::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 1000;
}
.intro{
    position: relative;
    left: 0; right: 0;
    margin: 0;
    
    /* height: 100vh; */
    padding: 100px;
    /* display: flex; flex-direction: column; justify-content: center; align-items: center; */
    /* position:relative; */
    /* width:900px; */
    /* margin:0 auto; */
    /* background-color: #ccffff; */
    background-image: url("../../Images/Background/../../Images/Header/d4lkmbj-25c7abd6-7b0c-40e2-9cce-1e6984d6d49b.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height:auto;
    height:100%;
    background-size: cover;
    min-height:100%;
    
}

/* .bg{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
} */
/* .about-me{
   position: relative;
} */

.about-me h1{
    color:black;
    font-family: Cursive;
    /* font-style: italic; */
    /* transform-origin: 0 0; */
    transform: rotate(-10deg);
    font-weight: lighter;
    font-size: 4rem;
    
}
.profile{
    transform: rotate(10deg);
    
    background:  rgb(48, 36, 36);
}
.profile:hover{
    transform:rotate(-10deg);
    transition:steps();
}
.intro p{
    /* color: rgb(247, 245, 225); */
    color: rgb(41, 23, 2);
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgba(188, 208, 250, 0.7);
    padding: 70px;
    margin: 40px;
}