
.svg{
    margin-top: -10px;
    /* border-bottom: 10px solid; */
    border-image-slice: 1;
    border-width: 5px;
}
.projects{
    position: relative;
    left: 0; right: 0;
    margin: 0;
    /* padding: 100px; */
    background-image: url("../../Images/Background/../../Images/Header/d4lkmbj-25c7abd6-7b0c-40e2-9cce-1e6984d6d49b.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height:auto;
    background-size: cover;
    min-height:100%;
    padding-bottom: 50px;
}
.welcome{
    /* color: rgb(172, 222, 255); */
    margin: 100px;
    margin-bottom: 7rem;
    font-family: 'Shizuru', cursive;
    font-weight: 900;
    font-size: 3em;
    /* letter-spacing: 15px; */
    color: #1c0522;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height:  0.70em;
    outline:none;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #1c0522;
        box-shadow: none;
    }
    10%,18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #ffffff;
        box-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #f8f8f8,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}
.project-container h1{
    color: rgb(240, 230, 250);
    font-family:cursive ;
    font-size: 3em;
    font-weight: 900;
    padding:3rem;
    margin-bottom: 3rem;
}
.project-container h3{
    color: rgb(240, 230, 250);
    /* font-family:cursive ; */
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom:1rem;
    margin-bottom: rem;
}
.project-container{
    background-color: #1c0522;
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.project{
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    color: rgb(250, 249, 249);
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    /* background-color: rgba(188, 208, 250, 0.7); */
    /* padding: 70px; */
    margin: 40px;
}
/* .project img{
    border: 50px solid navy;
    border-radius: 5px;
    /* rgb(77, 72, 105) 
} */
.img{
    width: 100%;
    height: 370px;
    border-radius: 20px;
    z-index: 500;
    margin-right: -5rem;
    
} 
.visually-hidden{
    display: none;
}
button{
    display: none;
}
.my-btn{
    border-radius: 10px;
    background-color:rgb(102, 98, 129);
    font-weight: 400;
    color: #0c000f;
}
.my-btn:hover{
    background-color:rgb(27, 12, 46);
    font-weight: 400;
    color: whitesmoke;
}
.projectIntro{
    background-color: rgb(70, 61, 124);
    box-shadow: 5px 5px 10px rgb(128, 117, 224);
    /* opacity: 50%; */
    color: rgb(24, 24, 66);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    padding:3rem;
    border-radius: 25px;
    margin-left: -5rem;
    z-index: 1000;
}
.projectIntro:hover{
    color: black;
    background-color: rgb(95, 66, 141);
}


@media only screen and (max-width:688px){
    .project{
        display: flex;
        flex-direction: column;
    }
    .projects h2{
        font-size: 1em;
        letter-spacing: 0px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
@media only screen and (min-width:689px) and (max-width:991px){
    .project{
        display: flex;
        flex-direction: column;
    }
    .projects h2{
        font-size: 1em;
        letter-spacing: 0px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}