.MuiBox-root.css-1qv5rch{
    padding: 0px;
}
.user{
    color: ghostwhite;
}
.user h6{
    font-family: 'Lobster', cursive;
    color: darkgrey;
}
.btn{
    background-color: violet;
color: violet;
}
.drawer{
    /* background-image: url("../../Images/Background/../../Images/Header/d4lkmbj-25c7abd6-7b0c-40e2-9cce-1e6984d6d49b.jpg"); */

    background-image: url('../../Images/Header/d4lkmbj-25c7abd6-7b0c-40e2-9cce-1e6984d6d49b.jpg');
    color:rgb(162, 151, 168);
    top: 0; left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
.navlinks{
    text-decoration: none;
    font-weight: 400;
    
    color: rgb(211, 187, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
.nav-item{
background-color: rgb(61, 24, 95);
width: 10rem;
/* height: 3rem; */
opacity: 70%;
color: rgb(248, 248, 248);
border-radius: 15px;
margin-top: .7rem;
padding-top: .5rem;
padding-bottom: .5rem;
/*padding-left: 3rem;
padding-right: 3rem; */
}
.nav-item:hover{
    text-decoration: none;
    background: linear-gradient(to left, #f3f1f3, rgb(243, 160, 243));
    color:rgb(14, 4, 24);
}
.user:hover{
    text-decoration: none;
    color:mediumpurple
}

/* .css-12i7wg6-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar{
    display: none;
} */